* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

main {
    padding: 36px;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 20px;
    margin-right: auto;
}

.header--project {
    font-size: 12px;
    font-weight: 500;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.meme {
    position: relative;
    display: inline-block;
    text-align: center;
}

.meme--image {
    display: block;
    max-width: 100%;
}

.meme--text_top,
.meme--text_bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.meme--text_top {
    top: 10px;
}

.meme--text_bottom {
    bottom: 10px;
}

input {
    margin-bottom: 15px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
}

textarea {
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
}